body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
        }

        header {
            background-color: white;
            color:black;
            padding: 20px;
            text-align: center;
        }

        nav {
            margin-top: 20px;
            text-align: center;
        }

        nav a {
            text-decoration: none;
            color: #495057;
            margin: 0 20px;
            font-weight: bold;
            font-size: 18px;
        }

        .hero {
            background-image: url('background-image.jpg');
            background-size: cover;
            color:gray;
            text-align: center;
            padding: 100px;
        }

        .hero h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 1.2em;
            margin-bottom: 40px;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h2 {
            color: #343a40;
        }

        p {
            line-height: 1.6;
            color: #495057;
        }

        .skills, .projects {
            margin-top: 20px;
            color: #343a40;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 10px;
            background-color: white ;
            
            padding: 5px 10px;
            border-radius: 3px;
        }

        .project {
            margin-top: 20px;
        }

        .project img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 0px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
   
.column {
  float: left;
  width: 25%;
  padding: 0px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
         @media (max-width : 680px){
            
            body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
        }

        header {
            background-color: white;
            color:black;
            padding: 20px;
            text-align: center;
        }

        nav {
            margin-top: 20px;
            text-align: center;
            
        }

        nav a {
            text-decoration: none;
            color: #495057;
            margin: 0 5px;
            font-weight: bold;
            font-size: 17px;
        }
             h1{
             font-size: 2em;
             }

        .hero {
            background-image: url('background-image.jpg');
            background-size: cover;
            color:gray;
            text-align: center;
            padding: 10%;
        }

        .hero h1 {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 1em;
            margin-bottom: 40px;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h2 {
            color: #343a40;
        }

        p {
            line-height: 1.6;
            color: #495057;
        }

        .skills, .projects {
            margin-top: 20px;
            color: #343a40;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 10px;
            background-color: white ;
            
            padding: 5px 10px;
            border-radius: 3px;
        }

        .project {
            margin-top: 20px;
        }

        .project img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 0px;
            position: fixed;
            bottom: 0;
            width: 100%;
            
        }
            
.column {
  float: left;
  width: 25%;
  padding: 0px;
    border-right: 10px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
}
             